alias vim="nvim"
alias nvimrc="vim ~/.config/nvim/init.vim"
alias zshrc="vim ~/.zshrc"
alias tmuxrc="vim ~/.tmux.conf"
alias ohmyzsh="vim ~/.oh-my-zsh"

alias ls="ls --color=auto"
alias l="ls"
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"

alias dir="dir --color=auto"
alias vdir="vdir --color=auto"

alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

alias mcron="/usr/local/mcrcon/mcrcon -H 192.168.0.93 -P 25575 -p $(grep minecraft-mcron ~/.secrets | awk '{print $2}') -t"
